<template name="afFancyFormGroup">
  <div class="form-group {{#if afFieldIsInvalid name=name}}has-error{{/if}}">
    <label class="control-label">
      {{#if isRequiredField}}
        <span class="required-field-indicator">*</span>&nbsp;
      {{/if}}
      {{afFieldLabelText name=name}}</label>
    <!-- {{> afFieldInput name=name}} -->
    <!-- {{> afFieldInput fieldConfiguration}} -->
    {{> Template.dynamic template="afFieldInput" data=fieldConfiguration}}
    {{#if afFieldIsInvalid name=name}}
    <span class="help-block">{{{afFieldMessage name=name}}}</span>
    {{/if}}
  </div>
</template>

<template name="userSignupForm">
  <div style="width: 900px">
  {{#autoForm schema="Forms.userSignup" id="userSignupForm" class="form-horizontal" type="method" meteormethod="registerUser"}}
  {{this.schema}}
  <fieldset>
    <legend>User Information:</legend>
    {{> afFancyFormGroup name='email'}}
    {{> afFancyFormGroup name='firstName'}}
    {{> afFancyFormGroup name='lastName'}}
    {{> afFancyFormGroup name='password'}}
    {{> afFancyFormGroup name='password_confirmation'}}
  </fieldset>
  <fieldset>
    <legend>Company Information:</legend>
    {{> afFancyFormGroup name='company_name'}}
    {{> afFancyFormGroup name='street'}}
    {{> afFancyFormGroup name='city'}}
    {{> afFancyFormGroup name='state'}}
    {{> afFancyFormGroup name='zip'}}
    {{> afFancyFormGroup name='phone_number'}}
    {{> afFancyFormGroup name='company_description' rows=4}}
  </fieldset>
  <fieldset>
    <legend>Account Details:</legend>
    {{> afQuickField name='account_type'}}

    {{#if afFieldValueIs name="account_type" value="buyer"}}
      {{> afFancyFormGroup name='buyer_type'}}
      {{> afFancyFormGroup name='buyer_budget'}}
    {{/if}}

    {{#if afFieldValueIs name="account_type" value="farmer"}}
      {{> afFancyFormGroup name='growing_practices'}}
    {{/if}}
  </fieldset>
  
  {{#if accountTypeIsSelected}}
    <button type="submit" class="btn btn-primary btn-large">Sign Up</button>
  {{/if}}

  {{/autoForm}}
</div>
</template>